In [1]:
# Importamos las librerias correspondientes
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

## Cargando la base de datos con pandas

In [2]:
credit_card_data = pd.read_csv ('D:\Proyectos_python\Deteccion de fraude\Base_datos\creditcard.csv')

In [11]:
#Visualizamos el marco de datos en sus primeras 5 filas
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
#Queremos ver las ultimas filas de nuestro marco de datos
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
# InformaciÃ³n de nuestro marco de datos
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
 # Checamos el numero de valores vacios en cada columna
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
#DistribuciÃ³n de transacciones fraudulentas y transacciones legales
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

El marco de datos esta desbalanceado

El '0' representa a las transacciones normales y el '1' a las transacciones fraudulentas

In [8]:
# Dividimos el marco de datos para el analisis 
legit = credit_card_data [credit_card_data.Class == 0]
fraud = credit_card_data [credit_card_data.Class == 1]

In [9]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [15]:
# Estadisticos de los datos
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

Podemos observar que el maximo en un monto fraudulento es de 2,125 lo que nos dice que la cuantia
es mucho menor que el de los montos de las transacciones legales.

In [17]:
# Comparamos los valores de ambas transacciones
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Submuestreo

Construimos una muestra a partir de nuestro marco de datos que contenga una distribuciÃ³n similar de las transacciones 
fraudulentas y normales

Tomando en cuenta que el numero de transacciones fraudulentas consta de 492 observaciones.

In [18]:
legit_sample = legit.sample(n = 492)

In [24]:
new_dataset = pd.concat([legit_sample,fraud], axis=0)
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
162496,115168.0,1.796326,-1.612802,-0.564345,-0.673934,-1.490070,-0.677475,-0.885548,-0.131359,0.181891,...,0.506597,1.078136,-0.025097,-0.048555,-0.291960,-0.076975,-0.018843,-0.014303,198.00,0
54684,46561.0,0.710807,-2.325773,0.100764,-1.010235,-1.762513,-0.046779,-0.558048,-0.140179,-1.863960,...,-0.154959,-0.788994,-0.315255,0.014318,0.253871,-0.354300,-0.027902,0.078856,407.29,0
264030,161231.0,-0.313821,0.011871,-0.005909,-2.452009,0.984196,-1.452782,0.699960,-0.312730,0.980495,...,-0.132089,-0.321382,-0.128618,-0.718232,-0.092267,-0.919156,0.189229,0.169504,7.07,0
187510,127565.0,1.832900,-0.667139,-0.924560,0.767888,-0.344138,-0.126733,-0.184051,0.050512,1.155101,...,-0.310595,-0.751973,0.171708,-0.340764,-0.188396,0.094787,-0.055490,-0.060295,80.80,0
229598,145983.0,2.079810,-0.088443,-2.242211,-0.138560,0.574759,-1.068343,0.511123,-0.241816,0.236297,...,0.180595,0.493488,0.012436,0.707119,0.338386,0.196609,-0.105664,-0.085889,7.70,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [26]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [27]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [28]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92491.020325,-0.155656,0.071605,0.010995,-0.012467,-0.005426,0.060509,0.000352,-0.046497,0.073546,...,0.021543,0.026228,-0.005237,-0.017220,0.026387,-0.001137,0.015525,-0.019334,-0.017888,88.216301
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Dividimos los datos en caracterÃ­sticas y objetivos

In [29]:
x = new_dataset.drop(columns = 'Class', axis = 1)
y = new_dataset['Class']

In [30]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
162496  115168.0  1.796326 -1.612802 -0.564345 -0.673934 -1.490070 -0.677475
54684    46561.0  0.710807 -2.325773  0.100764 -1.010235 -1.762513 -0.046779
264030  161231.0 -0.313821  0.011871 -0.005909 -2.452009  0.984196 -1.452782
187510  127565.0  1.832900 -0.667139 -0.924560  0.767888 -0.344138 -0.126733
229598  145983.0  2.079810 -0.088443 -2.242211 -0.138560  0.574759 -1.068343
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
162496 -0.885548 -0.131359  0.181891  ...  0.323012  0.506597  1.078136
54684  -0.558048 -0.140179 -1.863960  ...  0.529860 -0.154959 -0.788994
264030  0.699960 -0.312730  0.980495  ...  0.180705 -0.132089 -0.321382
187510 -0.184051  0.050512  1.155101  ... -0.155119 -0.310595 -0.751973
229598  0.511123 -0.241816  0.236297  ... -0.333245  0.180595  0.493488
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
162496 -0.025097 -0.048555 -0.291960 -0.076975 -0.018843 -0.014303  198.00
54684  -0.315255  0.014318  0.253871 -0.354300 -0.027902  0.078856  407.29
264030 -0.128618 -0.718232 -0.092267 -0.919156  0.189229  0.169504    7.07
187510  0.171708 -0.340764 -0.188396  0.094787 -0.055490 -0.060295   80.80
229598  0.012436  0.707119  0.338386  0.196609 -0.105664 -0.085889    7.70
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [31]:
print(y)

162496    0
54684     0
264030    0
187510    0
229598    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Dividimos los datos en datos de prueba y datos de entrenamiento (test & train)

In [33]:
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size = 0.2, stratify = y, random_state = 2)

In [34]:
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

# Modelo de entrenamiento

## RegresiÃ³n logaritmica

In [39]:
model = LogisticRegression(max_iter=1000) #Aumentamos el numero de iteraciones para que se alcance una mayor convergencia

In [40]:
#Entrenando el modelo logaritmico con datos de entrenamiento 
model.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

# EvaluaciÃ³n del modelo

## Puntaje de precisiÃ³n del modelo

In [43]:
# PrecisiÃ³n de los datos de entrenamiento 
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [44]:
print ('Accuracy on training data: ', training_data_accuracy)

Accuracy on training data:  0.9466327827191868

In [45]:
#Obtenemos un buen puntaje, lo que quiere decir que las predicciones seran buenas

In [46]:
# PrecisiÃ³n de los datos de prueba
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [48]:
print ('Accuracy score on test data: ', test_data_accuracy)

Accuracy score on test data:  0.9289340101522843